
<h2 class="m-2 ml-4 mt-4 text-center">Welcome to visitors!</h2>

<p class="m-2 ml-4 mb-5 text-center">Here is the list of gossips with the title and author:</p>



<div class="card-deck">
<% Gossip.all.each do |gossip| %>
  <div class="col-lg-3 col-md-6 mb-3">
    <div class="card text-left my-3">
      <div class="card-body">
        <h5 class="card-title text-info">Gossip n° <%= gossip.id %></h5>
        <h5 class="card-title text-secondary"> Title : <%= gossip.title%></h5>
        <p class="card-text"> Author: <%= gossip.user.first_name %> </p>
        <p class="card-text"> Content: <%= gossip.content %> </p>
      </div>
    </div>
  </div>
<% end %>
</div>