<h1 class="m-2 ml-4">Home</h1>

<p class="m-2 ml-4">Welcome to visitors!</p>

<p class="m-2 ml-4">Voici la liste des potins :</p>


<%= @gossips.each do |gossip| %>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src=".../100px180/" alt="Card image cap">
       <div class="card-body">
         <h5 class="card-title">Potin n° <%= gossip.id %> de <%= gossip.title%></h5>
         <p class="card-text"><%= gossip.content[0..50]%>...</p>
         <a href="#" class="btn btn-primary">Voir le potin</a>
        </div>
    </div>

<% end %> 