<!DOCTYPE html>
<html>
<head>
	<title>User</title>
</head>
<body>

  <div class="card">
    <div class="card-header">
      <p> Auteur: <%= @gossip.user.first_name %> </p>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p> <%=@gossip..user.city %> </p>
                
      </blockquote>
    </div>
  </div>

</body>
</html>
